
#footer {
	margin-top:40px;
	color:#fff;
	padding:30px;
	background:#333;
}
.whiteclass{
	background:white;
}
.responsive {
    width: 100%;
    height: auto;
}

.btn-space {
	
	background-color: #fff;
	
}